<!-- Design -->
<footer id="footer">
    <p class="copyright"> 
        <strong>E-MAIL:</strong> <a href="mailto:victor.delaplaza.schnieper@gmail.com" target="_blank"> victor.delaplaza.schnieper@gmail.com</a> |
        <strong>LINKEDIN:</strong> <a href="https://linkedin.com/in/v%C3%ADctor-de-la-plaza-schnieper-3897681b1/" target="_blank">victor-de-la-plaza-schnieper</a> |
        <strong>INSTAGRAM:</strong> <a href="https://instagram.com/arq_schnieper/" target="_blank">arq schnieper</a>    
    </p>
</footer>